<section class="bio-section bio-section-active about-section"
  data-tab-id="1">
  <div class="bio-avatar">
    <div class="bio-avatar-cover">
    </div>
    <img src="assets/gh_avatar.jpg">
  </div>
  <div class="bio-section-inner">
    <span>
      <p>
        Hi, I'm Anthony Super. I'm a developer based out of Colorado.
      </p>
      <p>
        I'm primarily a fullstack web developer, but I mess around with a lot of technologies.
        You can see many of them on my <a href="https://github.com/AnthonySuper">GitHub.</a>
      </p>
      <p>
        You may know me from <a href="https://www.imagehex.com">ImageHex.</a>
        Or not, it doesn't really have many users.
      </p>
    </span>
  </div>
</section>
