<section class="dungeon-landlord">
  This blog post is <a href="/blog/dungeon_landlord">part of a series</a> on the development of <strong>Dungeon Landlord</strong>, a 2D game I am currently making.
  Much of the development of the game is being streamed on my <a href="https://twitch.tv/shthesuper">twitch</a>.
  If you would like further updates about the game, beta builds, and stream notifications, you can <a href="https://discord.gg/JD97fCd">join the discord</a>.
  The discord is also a good way to contact me if you would like to help or be involved in some way!
</section>
