<section class="bio-section bio-section-hidden"
  data-tab-id="3">
  <div class="downward-slider-cover">
  </div>
  <ul id="elsewhere-logos-list">
    <li>
      <a href="https://medium.com/@AnthonyTheSuper">
        <img src="/assets/elsewhere/medium-200px.png">
      </a>
    </li>
    <li>
      <a href="https://twitter.com/AnthonySuper1">
        <img src="/assets/twitter.svg">
      </a>
    </li>
    <li>
      <a href="https://github.com/AnthonySuper">
        <img src="/assets/github-icon.svg">
      </a>
    </li>
    <li>
      <a href="https://www.imagehex.com/@anthony">
        <img src="/assets/elsewhere/imagehex-color.png">
      </a>
    </li>
    <li>
      <a href="https://www.twitch.tv/shthesuper">
        <img src="/assets/elsewhere/twitch.png">
      </a>
    </li>
  </ul>
</section>
