<section class="bio-section bio-section-hidden"
  data-tab-id="3">
  <ul id="elsewhere-logos-list">
    <li>
      <a href="https://medium.com/@AnthonyTheSuper">
        <img src="/assets/elsewhere/medium-200px.png" alt="Medium">
      </a>
    </li>
    <li>
      <a href="https://twitter.com/AnthonySuper1">
        <img src="/assets/twitter.svg" alt="twitter">
      </a>
    </li>
    <li>
      <a href="https://github.com/AnthonySuper">
        <img src="/assets/github-icon.svg" alt="GitHub">
      </a>
    </li>
    <li>
      <a href="https://www.imagehex.com/@anthony">
        <img src="/assets/elsewhere/imagehex-color.png" alt="ImageHex">
      </a>
    </li>
  </ul>
</section>
