<footer id="page-footer">
  <ul id="footer-list">
    <li class="footer-item">
      <a href="/feed.xml">Subscribe via RSS</a>
    </li>
    <li class="footer-item" id="github">
      <a href="http://www.github.com/{{site.github_username}}">
        <img class="footer-image" src="/assets/github-icon.svg">
        
      </a>
    </li>
    <li class="footer-item" id="twitter">
      <a href="http://www.twitter.com/{{site.twitter_username}}">
        <img class="footer-image" src="/assets/twitter.svg">
      </a>
    </li>
  </ul>
</footer>
