#blog-header{
  color: white;
  background-color: #B4CFEC;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: lighter;
}
#blog-posts-container{
  padding-top: 20px;
  min-height: 100%;
}

#blog-posts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  list-style-type: none;
  margin: 0;
}

.blog-read-more{
  text-align: right;
}

.blog-post{
  h2{
    text-align: center;
  }
  padding: 20px;
  background-color: white;
  width: 100%;
  display: block;;
}

@media all and (min-width: $on-laptop){
  .blog-post{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
