#blog-header{
  color: white;
  background-color: #B4CFEC;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: lighter;
}
#blog-posts-container{
  padding-top: 20px;
  min-height: 100%;
}

#blog-posts{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}

.blog-read-more{
  text-align: right;
}

.blog-post{
  h2{
    text-align: center;
  }
  padding: 20px;
  background-color: white;
}

@media all and (min-width: $on-laptop){
  .blog-post{
    width: 48%;
    margin: 10px;
  }
}
