.cyoa-container {
  display: flex;
  flex-direction: column;
  margin: 64px;

  textarea {
    padding: 8px;
  }
}

.edit-container {
  display: flex;
  flex-direction: column;
}

.cyoa-info-field {
  max-width: 25%;
}

.cyoa-info-row {
  font-size: 24px;
  display: flex;

  input {
    font-size: 24px;
    flex-grow: 1;
  }
}

.cyoa-info-row-label {
  margin-right: 32px;
  flex-grow: 1;
}

.cyoa-invalid {
  color: red;
}

.cyoa-options-container {
  display: flex;
  flex-wrap: wrap;
}

.cyoa-option {
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 40%;
  flex-shrink: 0;
  margin: 32px;
  background-color: #fff;

  &.selected {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .cyoa-info-row-label {
    font-size: 16px;
  }

  .cyoa-info-row {
    margin-top: 8px;

    input {
      font-size: 16px;
    }
  }
}

.cyoa-header-edit {
  font-weight: 100;

  h1, input {
    font-size: 64px;
  }

  input {
    padding: 16px 0;
  }
  
}

.cyoa-section {
  margin: 64px;
  h1 {
    font-size: 24px;
    font-weight: 300;
  }
}

.cyoa-actions {
  display: flex;
  margin: 16px 0;

  button {
    margin-right: 16px;
  }
}

.cyoa-loader-container {
  display: flex;
  margin-right: 16px;

  label {
    margin-right: 16px;
  }
}

.cyoa-section-max-editor {
  display: flex;
}

.max-editor-section {
  margin-right: 24px;

  label {
    margin-right: 8px;
  }
}

.cyoa-section-name-wrapper {
  display: flex;
  align-items: center;

  .edit-container {
    flex-grow: 1;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 24px;
  }

  span {
    color: #555;
  }
}