#frontpage-header{
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 60px;
  background-color: #77dd77;
  color: white;
}


.homepage-tab{
  text-align: center;
}

#project-list{
  margin: 0px;
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-item{
  margin: none;
  padding: 10px;
  flex-grow: 1;
  img{
    max-width: 15%;
    height: auto;
    display: inline-block;
  }
  min-width: 20%;
  width: 150px;
}

.project-description{
  font-size: 1.0rem;
}

#post-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: flex-start;
}

@include media-query($on-palm){
  #project-list{
    flex-direction: column;
  }
  .project-item{
    width: 100%;
  }
}
