#frontpage-header{
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 60px;
  background-color: #77dd77;
  color: white;
}
