#post-header{
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  padding: 5px;
}

.post{
  margin-top: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
}

.center-box{
  text-align: center;
}

.full-table{
  width: 100%;
}
.big-image{
  display: block;
  max-width: 100%;
  margin: auto;
}

.inset-image{
  display: inline;
  max-width: 90%;
  box-shadow: 3px 4px 10px #333;
  margin: 10px;
}

@include media-query($on-laptop) {
  .post{
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.2rem;
  }
}

.back-button {
  padding-top: 8px;
  font-size: 24px;
  color: #21FF05 !important;
  width: 64px;
  text-align: center;
  display: block;

  &:hover {
    text-decoration: none;
  }
}

.dungeon-landlord {
  font-style: italic;
  padding: 16px 32px;
  color: #444;
}
